name: qqnews

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 * * * *"

jobs:
  run-python-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@main
        with:
          fetch-depth: 1

      - name: Set up Python
        uses: actions/setup-python@main
        with:
          python-version: '3.11.0'

      - name: Configure Git
        run: |
          git config --local user.email "952500290@qq.com"
          git config --local user.name "hongrui1234"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        run: python qq.py

      - name: Generate index page
        run: python index_generator.py

      - name: Commit changes
        run: |
          git add .
          git commit --allow-empty -m "spider"
          git push

      #- name: Push images to qqnews_image repository
        #run: |
          #cd qqnews_image
          #git config --local user.email "952500290@qq.com"
          #git config --local user.name "hongrui1234"
          #git add .
          #git commit --allow-empty -m "Add images"
          #git push
